.cabecalho {
    background-color: rgb(247, 231, 139);
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 16x;
}

.conteudo-principal {
    background-color: rgb(52, 177, 49);
    
    max-width: 800px;
    
    margin: 0 auto;
    padding: 16x;
    display: flex;
    justify-content: space-between;
}

.imagem-principal {
    width: 200px;
    height: 200px;
}

.cabecalho-paragrafo {
    font-weight: bold;
}

.conteudo-principal-texto {
    font-weight: bold;
}

article {

    border: 1px solid #183C63;
    margin: 16px;
    gap: 16px;
    padding: 16px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid #183C63;
    margin: 16px;
    gap: 16px;
    padding: 16px;
    flex: 1 1 25%;
}